# Parameter File

parameters.json
parameters.create-node-group.json
parameters.create-node.json

parameters.create-node-group-lb.json
parameters.create-node-group-ilb.json


.vscode

gitsync-and-deploy.sh

keys/

